#app {
    /* centraliza o texto */
        text-align: center;
        /* Coloca cor no texto */
        /* background-color: blue;  */
        /* Define o tamanho maximo da tela de 800px */
        /* max-width: 480px; */
        max-width: 620px;
        /* Define a margem automatica */
        margin: 100%;
    }
    
    .characters {
        display: grid;
        max-width: 620px;
        /* define o numero de 4 itens por linha */
        grid-template-columns: repeat(3, 1fr);
    }
    


    .item img {
        max-width: 50px;
        max-height: 50px;
    }


    .btn-download {
        background-color: #006b80;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 50px;
      }

      
    